.container-fluid {

    background-image: url('dining-philosopher.png');
    background-repeat: no-repeat;
    background-size: auto;
    height:1050px;
    width:600px;
    background-position: center;
    color : #44e;
    display: flex;
    flex-direction : column;
    align-items : center;
    text-shadow: 3px 0 0 #000;
}
.eating {
    color : red;
    text-shadow: 3px 0 0 #000;
}

.hungry {
    color : yellow;
    text-shadow: 3px 0 0 #000;
}

.philosopher0 {
    display : flex;
    justify-content : center;

    margin-top: 60px;
    margin-left: 270px;
}

.philosopher1-2{
    display : flex;
    justify-content : center;
    margin-top: 130px;
    margin-left:50px;
}

.philosopher3-4 {
    display : flex;
    justify-content : center;
    margin-top: 300px;
}


.img-food {
    width: 150px;
    height: 150px;
}

.p0 {
}

.p1 {
    margin-left: 30px;
}
.p2 {
    margin-left: 620px;
}
.p3 {

}
.p4 {
    margin-left: 330px;
}